
{{outlet}}

<footer class="full-width">
  <h5>Made by <a href="http://twitter.com/ndandakis/" target="_blank">Nick Dandakis</a>.</h5>
  <h5><a href="http://github.com/nickdandakis/do-you-even-lift" target="_blank">sauce</a></h5>
</footer>
