<div class="text-center vertical-center full-width">
  <h1>You're <strong>curling</strong> a fuckin' </h1>
  {{#each result in model}}
  <h1>{{result.mammal}}</h1>
  {{/each}}
  <h1><strong>BRO!</strong></h1>
  <button class="button" onclick="window.history.back()">Rerack 'em</button>
</div>

{{outlet}}
