<div class="text-center vertical-center full-width">
  <h1>You're <strong>deadlifting</strong> a fuckin' </h1>
{{#each result in model}}
  <h1>{{result.mammal}}</h1>
{{/each}}
  <h1><strong>BRO!</strong></h1>
</div>


{{outlet}}
